<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<p>
    <h2>ยินดีต้อนรับสู่ Malar</h2>
    <br/>
    โปรดใช้ <strong>username</strong> และ <strong>password</strong> ด้านล่างเพื่อเข้าสู่ระบบครั้งแรก<br/>
    <br/>
    username: {{.Username}}<br/>
    password: {{.Password}}<br/>
    <br/>
    <span style="color:red;">หมายเหตุ</span> กรุณาเปลี่ยน username และ password หลังจากที่ท่าน log in เข้าสู่ระบบ เพื่อความปลอดภัยของ account ของท่าน
    <br/>
    <br/>
    จึงเรียนมาเพื่อแจ้งให้ทราบ<br/>
    <br/><hr><br/>
    อีเมล์ฉบับนี้ เป็นการแจ้งข้อมูลโดยอัตโนมัติ กรุณาอย่าตอบกลับ หากต้องการสอบถามข้อมูลเพิ่มเติม<br/>
    กรุณาติดต่อฝ่ายบริการลูกค้า โทร (เบอร์โทร) ในวันและเวลาทำการ (8.30-17.30 น.)<br/>
    หรือ E-mail Address : (อีเมล)<br/>
    <br/>
</p>
</body>
</html>