<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<p>
    เรียน บริษัท {{.ReceiverCompany}} ผู้ขาย<br/>
    <br/>
    ทางบริษัท {{.SenderCompany}} ได้มีการยื่นใบสั่งซื้อ เลขที่ <strong>{{.DocumentNumber}}</strong> โดยมีรายละเอียดดังนี้<br/>
    <br/>
    วัน-เวลาที่สร้างเอกสาร : {{.CreateDate}}<br/>
    จำนวนเงิน :  {{.GrandTotal}}<br/>
    สกุลเงิน : {{.Currency}}<br/>
    <br/>
    <br/>
    จึงเรียนมาเพื่อแจ้งให้ทราบ<br/>
    <br/><hr><br/>
    อีเมล์ฉบับนี้ เป็นการแจ้งข้อมูลโดยอัตโนมัติ กรุณาอย่าตอบกลับ หากต้องการสอบถามข้อมูลเพิ่มเติม<br/>
    กรุณาติดต่อฝ่ายจัดซื้อ โทร (เบอร์โทร) ในวันและเวลาทำการ (8.30-17.30 น.)<br/>
    หรือ E-mail Address : (อีเมล)<br/>
    <br/>
</p>
</body>
</html>